.container .img-fluid.size-img{
  
  height: 75px;
}
.nav-container .navbar.navbar-expand-lg.navbar-dark.bg-dark{
  background-color: #000000 !important;
}

.navbar-nav >li{
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-width: 1200px) {
  .navbar-nav >li{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav-container .navbar .container .nav-link{
  font-size: 16px;
  color: white;
}