.size-calendar{
    margin-top: 20px;
}

.new-event-form{
    position:fixed;
    top: 200px;
    left: 450px;
    background-color: rgb(255, 255, 255);
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;

}