.formulario-paciente .form-space{
    margin-top: 35px;
    font-size: 18px;
}

.formulario-paciente h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.formulario-paciente form{
    border-style: solid;
    padding: 30px;
}

.formulario-paciente .boton-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}