.container .btn-space{
    margin-top: 20px;
    text-align: right;
}

.container .titulo-principal{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.container .row.header-busqueda.style{
    text-align: center;
}

.row.style-border{
    text-align: center;
    padding: 5px;
    border: 0.5px solid;
}
